@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  height: 60px;
  padding: 8px;
  color: lightblue;
}

.youtubeimg {
  height: 250%;
  width: 250%;
  background-color: white;
  overflow-y: hidden;
}

main {
  display: flex;
  height: calc(100vh - 70px);
  background-color: #f9f9f9;
}

.side-bar {
  height: 100%;
  width: 250px;
  background-color: white;
  overflow-y: hidden;
}

.left {
  display: flex;
  align-items: center;
}

.left #menu {
  padding: 0 7px;
  cursor: pointer;
}

.search {
  display: flex;
}

.search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
}

.search input {
  width: 600px;
  padding: 10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px;
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
}

.mic {
  margin-top: 5px;
}

.material-icons {
  color: #030303;
  padding: 7 7px;
  cursor: pointer;
}
.yellow-icon {
  color: #fdb913;
}
.green-icon {
  color: #006a44;
}
.red-icon {
  color: #c1272d;
}
.youtube-red-color {
  color: #ff0000;
}
.copyright {
  font-size: 12px;
  color: #909090;
  padding: 12px 25px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}
.aside-titles {
  font-size: 14px;
  color: #606060;
  text-transform: uppercase;
}
hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

.video {
  width: 270px;
  margin-bottom: 30px;
  transition: transform 0.3s;
}

.video:hover {
  transform: scale(1.1);
}

.thumbnail {
  width: 100%;
  height: 170px;
}

.thumbnail img {
  object-fit: cover;
  height: 94%;
  width: 100%;
}
.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.details {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
  .search {
    display: none;
  }
}

@media (max-width: 900px) {
  .search input {
    width: 25rem;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  .content,
  .main,
  .videos,
  .search input {
    background-color: #212121;
    color: white;
  }
  .content {
    border-top: 1px solid rgb(63, 62, 62);
  }

  .header,
  .side-bar {
    background-color: #282828;
  }
  .side-bar a span {
    color: #030303;
  }

  .title h3 {
    color: white;
  }

  .title a,
  .title span {
    color: lightgrey;
  }

  .search form {
    border: 1px solid rgb(63, 62, 62);
  }

  .search form button,
  hr {
    background-color: rgb(51, 49, 49);
  }

  span {
    color: rgb(223, 211, 211);
  }
}

.footer {
  text-align: center;
    background-color: whitesmoke;
    color: black;
    padding-top: 11px;
    position: fixed;
    bottom: 0;
    width: 100%;
}